.register {
    min-height: 100vh;

    display: flex;

    flex-direction: column;

    align-items: center;
}

.register-card {
    width: 400px;

    padding: 30px;

    margin-top: 50px;

    border-radius: 10px;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

    background-color: var(--color-white);
}

.register-card__logo {
    width: 70px;

    margin: 0 auto 20px;  

    filter: invert(1);
}

.register-title {
    text-align: center;

    margin-bottom: 10px;
}

.register-subtitle {
    text-align: center;

    font-size: 14px;
    color: var(--color-dark-gray);

    margin-bottom: 20px;
}

.register-form {
    display: flex;

    flex-direction: column;

    gap: 15px;
}

.register-form__group {
    display: flex;

    align-items: center;

    gap: 5px;
}

.register-form__input {
    flex: 1;
    padding: 10px 14px;

    font-size: 16px;

    border: 1px solid var(--color-dark-gray);
    border-radius: var(--border-radius);

    background-color: var(--color-white);
}

.register-form__label {
    width: 100px;
    text-align: right;
}

.register-form__button{
    padding: 10px 14px;

    margin-top: 3px;
    margin-bottom: 3px;

    font-size: 16px;
    font-weight: 600;

    color: var(--color-light);
    background-color: var(--color-dark);

    border: none;
    border-radius: var(--border-radius);

    cursor: pointer;
}

.register-form__button:hover {
    background-color: var(--color-dark-gray);

    transform: translateY(-2px);
}

.login-register {
    text-align: center;

    font-size: 14px;
    color: var(--color-dark-gray);

    margin-top: 10px;
}

@media (max-width: 650px) {
    .register-card {
        margin-top: 30px;
    }
}